		* {
			margin: 0;
			border: 0;
			padding: 0;

		}

		html {
			font-family: arial;
			font-size: 62.5%;
		}

		body {
			background-color: #dcdcdc;
		}

		header {
			background: linear-gradient(to right, #910606, #ff8800);
			color: #fff;
			font-size: 1.8rem;
			padding: 1rem;
			padding-top: 2rem;
			position: fixed;
			width: 100%;
			height: 100px;
		}

		.conteudo-topo {
			font-size: 1.6rem;
			background-color: #fff;
			padding: 1.5rem;
			margin-top: 4rem;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			max-width: 70%;
			padding-top: 3rem;
			padding-bottom: 3rem;
			position: relative;
			z-index: 1;
			border-radius: 20px;
		}

		h1 {
			font-size: 3.5rem;
		}

		h2 {
			font-size: 1.9rem;
			display: inline;
		}

		h3 {
			font-size: 1.7rem;
		}

		h4 {
			font-size: 1.6rem;
		}

		input {
			border: solid;
			padding: 5px;
			border-radius: 5px;
			font-size: 1.6rem;
			text-align: center;
			border-width: 2px;
		}

		.numberInput {
			border: solid;
			padding: 5px;
			border-radius: 5px;
			font-size: 1.6rem;
			text-align: center;
			width: 45%;
			border-width: 2px;
		}

		.textAreaInput {
			border: solid;
			padding: 5px;
			border-radius: 5px;
			font-size: 1.6rem;
			height: 6rem;
			border-width: 2px;
		}

		#btn-enviar {
			background-color: #05ba05;
			color: #fff;
			padding: 10px;
			padding-left: 20px;
			padding-right: 20px;
			font-weight: bold;
			border-radius: 5px;
			margin-top: 1%;
		}

		a {
			text-decoration: none;
			color: #ff7300;

		}

		a:hover {
			color: #c31d07;

		}

		#tableUser {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			border-spacing: 1.5rem;

		}

		.userInfo {
			color: gray;
			text-align: left;
		}

		.coluna1 {
			float: left;
			width: 50%;
			text-align: initial;

			/* Define a largura da primeira coluna */
		}

		/* Estilos para a coluna 2 (à direita) */
		.coluna2 {
			text-align: end;
			float: left;
			width: 50%;
			/* Define a largura da segunda coluna */
		}

		/* Limpar flutuações para evitar problemas de layout */
		.clearfix::after {
			content: "";
			clear: both;
			display: table;
		}

		.fichas {
			float: left;
			width: 50%;
			text-align: initial;
		}

		.sheet {
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			border-spacing: 1.5rem;
		}